@import '../../../global.style.scss';

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

#proj-header {
    background-color: #1f2038;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 1.5rem;
    font-weight: bold;

    margin-bottom: 4rem;
    padding: 1rem 2rem;

    a {
        color: $global-txt-color;
    }
}

@media (max-width: 600px) {
    #proj-header {
        font-size: 1rem;
        gap: 0;
        margin-bottom: 0;

        svg {
            width: 0;
        }
    }
}