@import "../../../global.style.scss";

nav {
    background-color: $title-color;
    display: flex;
    justify-content: center;
    
    padding: 2rem;
    padding-bottom: 5rem;
    height: 15vh;
    width: 100%;
}