rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /intro/{document=**} { allow read: if true; }
    match /projects/{document=**} { allow read: if true; }
    match /jobs/{document=**} { allow read: if true; }
    match /patents/{document=**} { allow read: if true; }
    match /education/{document=**} { allow read: if true; }
    match /aboutme/{document=**} { allow read: if true; }
    match /skills/{document=**} { allow read: if true; }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}