rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && firestore.exists(/databases/(default)/documents/admins/$(request.auth.uid));
    }

    match /proj_img/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /article_img/{allPaths=**} { allow read: if true; }
    match /aboutme.jpg { allow read: if true; }
    
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}