#skills {
    .content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        padding: 5rem;
    }

    #skills-descriptions {
        min-width: 35rem;
        max-width: 45rem;
        width: 50%;

        #title {
            margin-bottom: 2rem;
        }
    }

    #sticker-grid {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 30rem;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .sticker {
        height: 3rem;
        transition: opacity .3s;
    }
}