#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

#skills-detail {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

#skill-item-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

@media (min-width: 600px) {
    #skills-detail {
        flex-wrap: wrap;
        padding: 0 4rem;
    }

    #skill-item-box {
        padding: 0 4rem;
    }
}

@media (max-width: 600px) {
    #skills-detail {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}