.about-item {
    display: flex;
    flex-direction: column;
}

.about-title {
    display: flex;
    align-items: center;

    font-weight: bold;
    margin-bottom: .5rem;
}

.arrows {
    margin-right: .5rem;
}

@media (min-width: 600px) {
    .about-item {
        width: 65%;
    }

    .about-title {
        font-size: 1.25rem;
    }

    .about-subtitle {
        height: 0;
        visibility: hidden;
    }

    .about-description {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .about-title {
        font-size: 1.5rem;
    }

    .about-subtitle {
        font-size: 1.5rem;
        padding: .5rem 0;
    }

    .about-description {
        font-size: 1.25rem;
    }
}