footer {
    background-color: black;
    color: white;
    width: 100%;
    padding: 6rem 10rem;

    // * {
    //     border: 1px solid white;
    // }

    .content {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        min-width: 50rem;
    }

    h1 {
        margin-bottom: 2rem;
    }

    .footer-link {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    svg {
        font-size: 1.5rem;
        width: 2rem;
    }

    #signoff {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: .5rem;
        opacity: 40%
    }
}