@import '../../../global.style.scss';

.skill-item {
    border-radius: .5rem;
    box-sizing: border-box;
    color: $global-bg;

    font-size: 1rem;
    font-weight: bold;
    padding: .5rem 1rem;
}

.code {
    background: linear-gradient(170deg, #5fd9a4 0%, #5fd9d3 100%) border-box;
}

.concepts {
    background: linear-gradient(170deg, #5f65d9 0%, #9a5fd9 100%) border-box;
}

.tools {
    background: linear-gradient(170deg, #d97b5f 0%, #d9b65f 100%) border-box;
}