@import '../../../global.style.scss';

.project-tile {
    box-sizing: border-box;
    width: 100%;
    max-width: 50rem;

    font-weight: bold;
}

.proj-title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.proj-title {
    font-size: 1.5rem;
    flex-grow: 1;
}

.proj-skill-box {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-top: 1.5rem;
}