:root {
//   color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;

    * {
        box-sizing: border-box;
    }
}

h1 {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;

    margin: 0;
    padding: 0;
}
