:root {
//   color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 0;
    min-width: 50rem;

    * {
        box-sizing: border-box;
    }

    #root {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10rem;
    }
}

a {
    color: inherit;
}

h1 {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;

    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.5rem;
    font-weight: 300;
    margin: 0;
}

h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: .5rem 0;
}

h5 {
    font-size: .75rem;
    margin: 0;
}