@import "../../../global.style.scss";

#navpill {
    border-radius: $round-border;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2rem;
    min-width: 40rem;

    #logo {
        fill: white;

        height: 1.5rem;
        width: 1.5rem;
    }

    #nav-links {
        display: flex;
    }
}