#about {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    gap: 3rem;

    margin-top: 3rem;
    height: 100vh;
    width: 100%;

    * {
        // border: 1px solid blue;
    }

    #title {
        background-color: white;
        font-family: "Tiny5", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 5rem;

        margin-top: 12rem;
    }

    #person-pic {
        height: 120%;
        opacity: 80%;
        position: absolute;
        z-index: -1;
    }
}