#about {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    #about {
        justify-content: flex-end;
        gap: 2rem;

        padding-left: 5rem;
        margin-bottom: 2rem;
        height: 100%;
    }
}

@media (max-width: 600px) {
    #about {
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
    }
}