#about {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    gap: 3rem;

    margin-top: 3rem;
    height: 100vh;
    width: 100%;

    * {
        // border: 1px solid blue;
    }

    #title {
        background-color: white;
        font-size: 5rem;

        margin-top: 25vh;
    }

    #person-pic {
        height: 120%;
        min-height: 1000px;
        
        opacity: 80%;
        position: absolute;
        z-index: -1;
    }
}