#about {
    background-color: #D6CAAB;
    color: yellow;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;

    height: 100vh;
    width: 100%;

    position: relative;
    overflow: hidden;

    // * {
    //     border: 1px solid blue;
    // }

    #title {
        font-size: 5rem;
        margin-top: 25vh;
    }

    #person-pic {
        height: 120%;
        min-height: 1000px;
        
        opacity: 60%;
        position: absolute;
        z-index: 0;
    }
}