@import '../../../global.style.scss';

.ext-link-item {
    font-size: 3rem;

    path {
        fill: $global-txt-color;
        transition: fill .5s;
    }
}

.ext-link-item:hover {
    path {
        fill: #4ced7f;
        transition: fill .75s;
    }
}