#about {
    background-color: azure;
    padding-top: 10rem;

    * {
        border: 1px solid black;
    }
}

#about-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#about-header {
    position: relative;
    top: 2rem;
    left: -5rem;
}

#about-img {
    background-color: lightsalmon;
    border-radius: 2rem;
    height: 40rem;
    width: 100%;
}

#about-info {
    background-color: lightseagreen;
    border-radius: 2rem;
    height: 10rem;
    position: relative;
    top: -15rem;
    left: 30rem;
    width: 50rem;
}