#about {
    padding-top: 6rem;

    * {
        // border: 1px solid black;
    }
}

#about-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#about-header {
    font-size: 80pt;
    position: relative;
    top: 50px;
    left: -5rem;
}

#about-img {
    background-color: lightsalmon;
    border-radius: 30px;
    height: 500px;
    width: 100%;
}

#about-info {
    background-color: lightseagreen;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 2rem;
    position: relative;
    top: -170px;
    left: 480px;
    max-width: 550px;
}