@import './global.scss';

#about {
    padding-top: 6rem;

    * {
        // border: 1px solid black;
    }
}

#about-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#about-header {
    position: relative;
    // top: 50px;
    // left: -5rem;
}

#about-img {
    background-color: $highlight-dark;
    border-radius: 30px;
    height: 500px;
    width: 100%;
}

#about-info {
    color: lightgray;
    margin-top: 3rem;
    text-align: justify;
}