@import './global.scss';

#career {    
    * {
        // border: 1px solid black;
    }

    > div {
        display: flex;
        width: 100%;
    }
}

#about-me {
    box-sizing: border-box;
    text-align: justify;
    width: 60%;
}

#education-container {
    position: relative;

    svg {
        height: 70px;
        position: absolute;
        right: -35px;
        top: -30px;
    }
}

#education {
    // TODO: Add light border color
    border: $border-size black;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    padding: 1rem;

    &.dark {
        background-color: $dark-layer-2;
        border-color: $dark-layer-3;
    }
}

#timeline {
    box-sizing: border-box;
    flex-grow: 1;
    margin-left: 10rem;
}

.job {
    align-items: flex-start;
    box-sizing: border-box;
    display: flex;
    margin: 1.5rem 0;
}

.job-info {
    width: 100%;
}

.job-description {
    width: 70%;
}