@import './global.scss';

#contact {
    background-color: $dark-layer-0;
    color: white;
    padding: 5rem 10%;

    * {
        // border: 1px solid white;
    }

}

#contact-container {
    align-items: center;
    display: flex;
    gap: 2rem;
}

#resume-link {
    box-sizing: border-box;
    margin-right: 1rem;
    width: 150px;
}

#socials {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    svg {
        margin-right: 1rem;
        width: 25px;
    }
    
    a {
        align-items: center;
        color: white;
        display: flex;
        text-decoration: none;
    }
}