@import './global.scss';

footer {
    background-color: $dark-layer-0;
    box-sizing: border-box;
    color: $dark-layer-3;
    display: flex;
    justify-content: center;
    padding: 2rem;
    width: 100%;

    * {
        // border: 1px solid black;
    }
}