@import './global.scss';

footer {
    background-color: $bg-footer-dark;
    box-sizing: border-box;
    color: grey;
    display: flex;
    justify-content: center;
    padding: 2rem;
    width: 100%;

    * {
        // border: 1px solid black;
    }
}