// Global
$radius: 10px;

// Light mode
$bg-light: white;
$bg-text-color-lite: black;
$svg-fill-light: black;
$border-lite: black;

// Dark mode
$bg-dark: black;
$text-color-dark: white;
$svg-fill-dark: white;
$border-dark: white;