// Global
$radius: 10px;

// Light mode
$bg-light: white;
$bg-light-nav: rgba(255,255,255,.9);
$text-color-lite: black;
$text-color-highlight-lite: black;
$svg-fill-light: black;
$border-lite: black;

// Dark mode
$bg-dark: rgb(56, 57, 77);
$bg-dark-nav: rgba(56, 57, 77,.9);
$bg-tile-dark: #404559;
$bg-footer-dark: #1d1e28;
$text-color-dark: white;
$text-color-highlight-dark: #90d5b7; //708ebe
$svg-fill-dark: white;
$border-dark: #979db0;