@import 'global.scss';

html {
    scroll-behavior: smooth;
}

p {
    font-size: 1rem;
    font-weight: 400;
    margin: .8rem 0;
    padding: 0;
}

h1 {
    font-size: 5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

h2 {
    color: $lite-highlight;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 1rem 0;
    padding: 0;

    &.dark {
        color: $dark-highlight;
    }
}

h3 {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 1.2rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 1rem;
    font-weight: 200;
    margin: .2rem 0;
    padding: 0;
}

button {
    background: none;
    border: none;
    border-radius: $radius;
    box-sizing: border-box;
    color: inherit;
    margin: 0;
    outline: inherit;
    padding: .5rem;
}

.skill {
    // TODO: Add border color from global
    border: $border-size black;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: .7rem;
    font-weight: 400;
    padding: .2rem;
    width: max-content;

    &.dark {
        color: $dark-layer-4;
        border-color: $dark-layer-4;
    }
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

.body-section {
    box-sizing: border-box;
    margin: 0;
    // min-height: fit-content;
    padding: 10rem 15%;
    width: 100%;

    &.dark {
        background-color: $dark-layer-1;
        color: $dark-text-color;
    }
}