p {
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.5rem;
    margin: 0 0 .5rem 0;
    padding: 0;
}

h4 {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
}

.body-section {
    box-sizing: border-box;
    margin: 0;
    min-height: fit-content;
    padding: 10rem 20%;
    width: 100%;
}