nav {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;

    * {
        // border: 1px solid black;
    }

    .nav-link {
        align-items: center;
        display: flex;
        min-width: min-content;
        padding: 0 2rem;
    }

    #nav-spacer {
        flex-grow: 1;
    }

    #logo {
        height: 60px;
        margin: 1rem;
        width: 60px;
    }
}