@import 'global.scss';

nav {
    align-items: center;
    background-color: $bg-light;
    box-sizing: border-box;
    display: flex;
    padding: 0 10%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    * {
        // border: 1px solid black;
    }

    &.dark {
        background-color: $dark-layer-1;
        color: $dark-text-color;
    }
}

.scrolled {
    background-color: $bg-light-nav;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid lightgray;

    &.dark {
        background-color: $bg-dark-nav;
        border-bottom: 1px solid $dark-layer-3;
    }
}

.nav-link {
    align-items: center;
    display: flex;
    min-width: min-content;
    padding: 0 2rem;
    transition: border-bottom .15s;

    a {
        color: inherit;
        text-decoration: none;
        transition: border-width .15s;
    }

    :hover {
        border-bottom: 5px solid $highlight-dark;
        color: $highlight-dark;
        transition: border-bottom .15s;
    }
}

#nav-spacer {
    flex-grow: 1;
}

#logo {
    height: 50px;
    margin: 1.5rem 0;
    width: 50px;

    &.dark {
        fill: $svg-fill-dark;
    }
}
