@import './global.scss';

#projects {
    * {
        // border: 1px solid black;
    }
}

#proj-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.project {
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: calc(33.3% - .666rem);
    padding: 1.5rem;

    a {
        box-sizing: border-box;
        height: 20px;
        margin-right: .5rem;
        width: 20px;
    }

    svg {
        height: inherit;
        width: inherit;

        &.dark {
            fill: $svg-fill-dark;
        }
    }

    .hidden {
        height: 0;
        margin-right: 0;
        width: 0;
    }

    &.dark {
        border-color: $border-dark;
    }
}

.select {
    max-width: calc(50% - .5rem);

    .proj-skills {
        margin-top: 8rem;
    }
}

.proj-skills {
    display: flex;
    flex-wrap: wrap;
    gap: .3rem;
    margin-top: 4rem;
}

.proj-links {
    margin: .7rem 0 1.5rem 0;
}