#skills {
    padding-left: 10%;

    * {
        // border: 1px solid black;
    }
}

.skills-section {
    align-items: center;
    display: flex;
    margin: 4rem;

    svg {
        flex-grow: 1;
    }
}

.skills-text {
    box-sizing: border-box;
    text-align: justify;
    margin-left: 5rem;
    width: 40%;
}