#skills {
    padding-left: 10%;

    * {
        border: 1px solid black;
    }
}

.skills-section {
    align-items: center;
    display: flex;

    .skills-stickers {
        flex-grow: 1;
    }

    .skills-text {
        width: 25%;
    }
}