@import './global.scss';

#theme-toggle {
    cursor: pointer;
    margin-left: 3rem;

    :hover {
        fill: $dark-highlight;
    }

    svg {
        width: 30px;

        &.dark {
            fill: $dark-svg-fill;
        }
    }
    
}