@import '../../../global.style.scss';

.proj-link-chip {
    border-radius: 100rem;
    box-sizing: border-box;
    font-size: .75rem;

    padding: .25rem .75rem;

    a {
        color: $global-bg;
        text-decoration: none;
    }
}