@import "../../../global.style.scss";

.project-tile {
    position: relative;

    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 8px;

    padding: 2rem;

    height: 500px;
    width: 400px;
    max-width: 400px;

    .proj-links {
        background-color: black;
        border-top-left-radius: $round-border;
        border-bottom-left-radius: $round-border;
        color: white;

        padding: .5rem;
        padding-left: 1.5rem;
        padding-right: 2rem;

        position: absolute;
        bottom: 2rem;
        right: 0;
    }
}