#intro {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 12px;
    text-align: justify;

    padding: 1.5rem;
    width: 70%;
    min-width: 20rem;
    max-width: 55rem;

    font-weight: 400;
}