@import '../../../global.style.scss';

#connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#connect-links {
    box-sizing: border-box;
    border: 2px solid $global-border-color;
    border-radius: 1rem;

    display: flex;
    align-items: center;

    padding: 3rem;
}

#connect-txt {
    font-weight: bold;
    font-size: 1.5rem;

    height: 2rem;
    margin-top: 3rem;
}

@media (min-width: 600px) {
    #connect-links {
        gap: 4rem;
    }
}

@media (max-width: 600px) {
    #connect-links {
        flex-direction: column;
        gap: 3rem;
    }

    #connect-txt {
        height: 0;
        visibility: hidden;
    }
}