.nav-item {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 600px) {
    .nav-item {
        font-size: 1.25rem;
        font-weight: bold;
    }
}

@media (max-width: 600px) {
    .nav-item {
        gap: .5rem;
        width: 25%;
    }

    .nav-icon {
        font-size: 1.25rem;

        img {
            height: 1.75rem;
            width: 1.75rem;
        }
    }
}