@import '../../../global.style.scss';

#home-title {
    background-color: $global-bg;
    box-sizing: border-box;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Major Mono Display", monospace;
    font-weight: bold;

    img {
        box-sizing: border-box;
        height: 1.5rem;
        margin-right: 1rem;
    }
}

@media (min-width: 600px) {
    #home-title {
        font-size: 2rem;

        position: absolute;
        top: 0;
        left: 6rem;
        height: 4rem;
        padding: 0 1rem;
    }
}

@media (max-width: 600px) {
    #home-title {
        font-size: 1.75rem;

        position: fixed;
        padding: 1.5rem;
        width: 100%;
    }
}