@import "tailwindcss";

:root {
    --bg-color: var(--color-violet-950);
    --bg-layer-color: var(--color-violet-900);
    --txt-body-color: var(--color-violet-200);
    --txt-feature-color: var(--color-violet-400);
    --txt-title-color: var(--color-emerald-400);
    --txt-subtitle-color: var(--color-violet-400);
    --txt-accent-color: var(--color-blue-500);
    --txt-link-color: var(--color-orange-600);
    --border-color: var(--color-violet-700);
}

.w-max-view {
    max-width: 1440px;
}

body {
    background-color: var(--bg-color);
    color: var(--txt-body-color);
    height: 100dvh;
    width: 100dvw;
}

#root {
    height: 100%;
    width: 100%;
}

p {
    color: var(--txt-body-color);
    font-size: var(--text-lg);
}

h2 {
    color: var(--txt-accent-color);
    font-size: var(--text-3xl);
    font-weight: bold;
}

h3 {
    color: var(--txt-feature-color);
    font-size: var(--text-xl);
    font-weight: bold;
}