@import "tailwindcss";

:root {
    --bg-color: var(--color-stone-50);
    --bg-secondary-color: var(--color-stone-200);
    --txt-body-color: var(--color-stone-900);
    --txt-feature-color: var(--color-stone-900);
    --txt-title-color: var(--color-indigo-900);
    --txt-subtitle-color: var(--color-stone-500);
    --txt-highlight-color: var(--color-indigo-700);
    /* --txt-accent-color: var(--color-indigo-600); */
    --txt-link-color: var(--color-indigo-800);
    /* --txt-inactive-color: var(--color-stone-300); */
    --border-color: var(--color-stone-300);

    --max-width: 1440px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: var(--color-stone-800);
        --bg-secondary-color: var(--color-stone-700);
        --txt-body-color: var(--color-stone-200);
        --txt-feature-color: var(--color-stone-200);
        --txt-title-color: var(--color-emerald-600);
        --txt-subtitle-color: var(--color-stone-400);
        --txt-highlight-color: var(--color-emerald-500);
        /* --txt-accent-color: var(--color-indigo-600); */
        --txt-link-color: var(--color-emerald-500);
        /* --txt-inactive-color: var(--color-stone-300); */
        --border-color: var(--color-stone-500);
    }
}

* {
    border-color: var(--border-color);
}

body {
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: var(--txt-body-color);
    min-height: 100vh;
    width: 100vw;
    max-width: var(--max-width);
    margin: 0 auto;

    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#root {
    height: 100%;
    width: 100%;
}

.feature {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.title {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

p {
    color: var(--txt-body-color);
    font-size: var(--text-xl);

    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.p-hyphen {
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    overflow-wrap: break-word;
}

h2 {
    color: var(--txt-title-color);
    font-size: var(--text-3xl);
    margin-top: 3rem;
    margin-bottom: 0.75rem;
}

h3 {
    color: var(--txt-subtitle-color);
    font-size: var(--text-2xl);
    margin-top: 2rem;
    margin-bottom: 0.25rem;
}

h4 {
    font-size: var(--text-xl);
    margin-top: 1rem;
}

a {
    color: var(--txt-link-color);
    text-decoration: underline;
}

table {
    @apply border-collapse border-spacing-4 text-left;

    th {
        @apply border-b border-(--border-color) text-(--txt-subtitle-color) px-3 py-2;
    }

    td {
        @apply px-3 py-1;
    }
}