@import "tailwindcss";

:root {
    --bg-color: var(--color-stone-50);
    --bg-secondary-color: var(--color-stone-200);
    --txt-body-color: var(--color-stone-900);
    --txt-feature-color: var(--color-stone-900);
    --txt-title-color: var(--color-slate-900);
    --txt-subtitle-color: var(--color-stone-500);
    --txt-accent-color: var(--color-amber-300);
    --txt-link-color: var(--color-orange-600);
    --txt-inactive-color: var(--color-stone-300);
    --border-color: var(--color-stone-300);
}

* {
    border-color: var(--border-color);
}

.w-max-view {
    max-width: 1440px;
}

body {
    background-color: var(--bg-color);
    color: var(--txt-body-color);
    height: 100dvh;
    width: 100dvw;

    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

#root {
    height: 100%;
    width: 100%;
}

.feature {
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.title {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

p {
    color: var(--txt-body-color);
    font-size: var(--text-xl);
}

.p-hyphen {
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    overflow-wrap: break-word;
}

h2 {
    color: var(--txt-accent-color);
    font-size: var(--text-3xl);
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 0.75rem;
}

h3 {
    color: var(--txt-feature-color);
    font-size: var(--text-2xl);
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0.25rem;
}

h4 {
    font-size: var(--text-xl);
    font-weight: bold;
    margin-top: 1rem;
}

a {
    color: var(--txt-link-color);
    text-decoration: underline;
}

table {
    @apply border-collapse border-spacing-4 text-left;

    th {
        @apply border-b border-(--border-color) text-(--txt-subtitle-color) px-3 py-2;
    }

    td {
        @apply px-3 py-1;
    }
}