@import '../../../global.style.scss';

nav {
    background-color: $global-bg;
    box-sizing: border-box;
    z-index: 3;
}

#nav-item-box {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    height: 100%;
    width: 100%;
}

.nav-item {
    cursor: pointer;
}

@media (min-width: 600px) {
    nav {
        height: 4rem;
        position: absolute;
        bottom: 0;
        left: 6rem;
    }

    #nav-item-box {
        gap: 1.5rem;
    }

    .nav-icon {
        height: 0;
        visibility: hidden;
    }

    #nav-indicator {
        background-color: $global-border-color;
        border-bottom-left-radius: .5rem;
        border-top-right-radius: .5rem;
        color: $global-bg;
        font-size: 1.25rem;

        display: flex;
        align-items: center;
        justify-content: center;

        position: fixed;
        top: 2rem;
        right: 2rem;

        height: 3rem;
        width: 3rem;
    }
}

@media (max-width: 600px) {
    nav {
        border-top: 2px solid $global-bg;
        box-sizing: border-box;

        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    #nav-item-box {
        gap: 1rem;
    }

    #nav-indicator {
        height: 0;
        visibility: hidden
    }
}