.skill-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    
    // * {
    //     border: 1px solid blue;
    // }

    svg {
        flex: 0 0 1rem;
        width: 1rem;
        margin-right: 2rem;
    }
}